h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
#contact {
    text-align: right;
}


body {
    margin: 0%;
    text-align: left;
}
div {
    min-height: 90vh;
    background-image: url('/docs/assets/images/Code-It-Logical-HD-Wallpaper-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: contain;
    color: aqua;
    margin-bottom: 0px;
    padding-bottom: 0;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .container {
        height: auto; /* Για κινητά */
    }
    p, h1, h2 {
        font-size: 1rem;
    }
}
