h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
#contact {
    text-align: right;
}


body {
    margin: 0%;
    text-align: left;
}
div {
    background-image: url('/docs/assets/images/Code-It-Logical-HD-Wallpaper-1.jpg')no-repeat 0 0 fixed;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    color: aqua;
}